/*
colors
*/
@primary-color: #5f69b2;
@info-color: #6d84d1;
@success-color: #4bb08d;
@processing-color: @primary-color;
@warning-color: #ec972b;
@error-color: #be4141;

/*
font size
*/
@font-sm: 24rpx;
@font-base: 30rpx;
@font-lg: 32rpx;
@font-xl: 36rpx;
